<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST2.7 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	
	<dict>
		<key>name</key>
		<string>negocios.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/negocios.html</string>
		<key>path</key>
		<string>/www/negocios.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>index.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/index.html</string>
		<key>path</key>
		<string>/www/index.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>index2.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/index2.html</string>
		<key>path</key>
		<string>/www/index2.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>	
	<dict>
		<key>name</key>
		<string>mapa.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/mapa.jpg</string>
		<key>path</key>
		<string>/www/includes/images/mapa.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	
	<dict>
		<key>name</key>
		<string>prog-tecnica-04.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/prog-tecnica-04.html</string>
		<key>path</key>
		<string>/www/prog-tecnica-04.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>prog-tecnica-03.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/prog-tecnica-03.html</string>
		<key>path</key>
		<string>/www/prog-tecnica-03.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>prog-tecnica-02.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/prog-tecnica-02.html</string>
		<key>path</key>
		<string>/www/prog-tecnica-02.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>prog-tecnica-01.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/prog-tecnica-01.html</string>
		<key>path</key>
		<string>/www/prog-tecnica-01.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>prog-social.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/prog-social.html</string>
		<key>path</key>
		<string>/www/prog-social.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oficinas.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/oficinas.html</string>
		<key>path</key>
		<string>/www/oficinas.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oficina-conteudo-08.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/oficina-conteudo-08.html</string>
		<key>path</key>
		<string>/www/oficina-conteudo-08.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oficina-conteudo-07.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/oficina-conteudo-07.html</string>
		<key>path</key>
		<string>/www/oficina-conteudo-07.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oficina-conteudo-06.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/oficina-conteudo-06.html</string>
		<key>path</key>
		<string>/www/oficina-conteudo-06.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oficina-conteudo-05.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/oficina-conteudo-05.html</string>
		<key>path</key>
		<string>/www/oficina-conteudo-05.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oficina-conteudo-04.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/oficina-conteudo-04.html</string>
		<key>path</key>
		<string>/www/oficina-conteudo-04.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oficina-conteudo-03.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/oficina-conteudo-03.html</string>
		<key>path</key>
		<string>/www/oficina-conteudo-03.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oficina-conteudo-02.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/oficina-conteudo-02.html</string>
		<key>path</key>
		<string>/www/oficina-conteudo-02.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oficina-conteudo-01.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/oficina-conteudo-01.html</string>
		<key>path</key>
		<string>/www/oficina-conteudo-01.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>negocios.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/negocios.html</string>
		<key>path</key>
		<string>/www/negocios.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mapa.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/mapa.html</string>
		<key>path</key>
		<string>/www/mapa.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>lista-programacao.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/lista-programacao.html</string>
		<key>path</key>
		<string>/www/lista-programacao.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>executivos.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/executivos.html</string>
		<key>path</key>
		<string>/www/executivos.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>check-in.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/check-in.html</string>
		<key>path</key>
		<string>/www/check-in.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>calendario.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/calendario.html</string>
		<key>path</key>
		<string>/www/calendario.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>prog-acompanhantes.html</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/prog-acompanhantes.html</string>
		<key>path</key>
		<string>/www/prog-acompanhantes.html</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>jquery.mobile-1.0rc1.css</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/css/jquery.mobile-1.0rc1.css</string>
		<key>path</key>
		<string>/www/includes/css/jquery.mobile-1.0rc1.css</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	
	<dict>
		<key>name</key>
		<string>estilo.css</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/css/estilo.css</string>
		<key>path</key>
		<string>/www/includes/css/estilo.css</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>jqm-docs-1.css</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/css/jqm-docs-1.css</string>
		<key>path</key>
		<string>/www/includes/css/jqm-docs-1.css</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>jquery.mobile.scrollview.css</string>
		<key>url</key>
	<string>http://dl.dropbox.com/u/42583976/www/includes/css/jquery.mobile.scrollview.css</string>
		<key>path</key>
		<string>/www/includes/js/jquery.mobile.scrollview.css</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>9bt_entrar.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/9bt_entrar.png</string>
		<key>path</key>
		<string>/www/includes/images/9bt_entrar.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bg_highlight.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/bg_highlight.png</string>
		<key>path</key>
		<string>/www/includes/images/bg_highlight.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bg-brq.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/bg-brq.png</string>
		<key>path</key>
		<string>/www/includes/images/bg-brq.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bg-destaque.gif</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/bg-destaque.gif</string>
		<key>path</key>
		<string>/www/includes/images/bg-destaque.gif</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bg-footer.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/bg-footer.png</string>
		<key>path</key>
		<string>/www/includes/images/bg-footer.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bg-header-interno.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/bg-header-interno.jpg</string>
		<key>path</key>
		<string>/www/includes/images/bg-header-interno.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bg-header.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/bg-header.png</string>
		<key>path</key>
		<string>/www/includes/images/bg-header.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bg-sombra.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/bg-sombra.png</string>
		<key>path</key>
		<string>/www/includes/images/bg-sombra.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bg.gif</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/bg.gif</string>
		<key>path</key>
		<string>/www/includes/images/bg.gif</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bt_entrar.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/bt_entrar.png</string>
		<key>path</key>
		<string>/www/includes/images/bt_entrar.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bt-menu.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/bt-menu.png</string>
		<key>path</key>
		<string>/www/includes/images/bt-menu.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>feira_lista.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/feira_lista.jpg</string>
		<key>path</key>
		<string>/www/includes/images/feira_lista.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ico-check.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/ico-check.png</string>
		<key>path</key>
		<string>/www/includes/images/ico-check.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ico-mapa.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/ico-mapa.png</string>
		<key>path</key>
		<string>/www/includes/images/ico-mapa.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ico-marcador-ativo.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/ico-marcador-ativo.png</string>
		<key>path</key>
		<string>/www/includes/images/ico-marcador-ativo.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ico-marcador.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/ico-marcador.png</string>
		<key>path</key>
		<string>/www/includes/images/ico-marcador.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>index.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/index.jpg</string>
		<key>path</key>
		<string>/www/includes/images/index.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-afip.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-afip.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-afip.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-alianca.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-alianca.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-alianca.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-axismed.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-axismed.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-axismed.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-brq.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-brq.png</string>
		<key>path</key>
		<string>/www/includes/images/logo-brq.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-cms.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-cms.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-cms.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-evento.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-evento.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-evento.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-medilar.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-medilar.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-medilar.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-qualicorp.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-qualicorp.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-qualicorp.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unicred.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unicred.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unicred.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unimed-brasil.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-brasil.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-brasil.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unimed-ceara.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-ceara.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-ceara.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unimed-central.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-central.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-central.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unimed-fortaleza.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-fortaleza.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-fortaleza.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unimed-rs.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-rs.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-rs.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unimed-seguros.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-seguros.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-seguros.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unimed.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-uniodonto.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-uniodonto.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-uniodonto.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-WM.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-WM.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-WM.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mapa.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/mapa.jpg</string>
		<key>path</key>
		<string>/www/includes/images/mapa.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>menu_01.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/menu_01.jpg</string>
		<key>path</key>
		<string>/www/includes/images/menu_01.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>menu_02.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/menu_02.jpg</string>
		<key>path</key>
		<string>/www/includes/images/menu_02.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>menu_03.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/menu_03.jpg</string>
		<key>path</key>
		<string>/www/includes/images/menu_03.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>menu_04.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/menu_04.jpg</string>
		<key>path</key>
		<string>/www/includes/images/menu_04.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>menu.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/menu.png</string>
		<key>path</key>
		<string>/www/includes/images/menu.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>menu2_01.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/menu2_01.jpg</string>
		<key>path</key>
		<string>/www/includes/images/menu2_01.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>menu2_02.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/menu2_02.jpg</string>
		<key>path</key>
		<string>/www/includes/images/menu2_03.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>		
	<dict>
		<key>name</key>
		<string>menu2_04.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/menu2_04.jpg</string>
		<key>path</key>
		<string>/www/includes/images/menu2_04.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>			
	<dict>
		<key>name</key>
		<string>palestra.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/palestra.jpg</string>
		<key>path</key>
		<string>/www/includes/images/palestra.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>		
	<dict>
		<key>name</key>
		<string>bt_entrar.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/bt_entrar_a.png</string>
		<key>path</key>
		<string>/www/includes/images/bt_entrar_a.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>	
	<dict>
		<key>name</key>
		<string>logo-afip.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-afip_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-afip_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-alianca.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-alianca_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-alianca_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-axismed.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-axismed_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-axismed_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-cms.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-cms_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-cms_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-evento.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-evento_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-evento_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>																				
	<dict>
		<key>name</key>
		<string>logo-ibbca.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-ibbca_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-ibbca_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-medilar.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-medilar_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-medilar_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>		
	<dict>
		<key>name</key>
		<string>logo-qualicorp.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-qualicorp_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-qualicorp_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unicred.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unicred_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unicred_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>		
	<dict>
		<key>name</key>
		<string>logo-unimed-brasil.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-brasil_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-brasil_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>	
	<dict>
		<key>name</key>
		<string>logo-unimed-ceara.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-ceara_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-ceara_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>	
	<dict>
		<key>name</key>
		<string>logo-unimed-central.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-central_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-central_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>	
	<dict>
		<key>name</key>
		<string>logo-unimed-fortaleza.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-fortaleza_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-fortaleza_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>	
	<dict>
		<key>name</key>
		<string>logo-unimed-rs.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-rs_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-rs_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>	
	<dict>
		<key>name</key>
		<string>logo-unimed-seguros.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-seguros_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-seguros_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>	
	<dict>
		<key>name</key>
		<string>logo-unimed.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-uniodonto.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-uniodonto_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-uniodonto_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-WM.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-WM_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-WM_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mapa.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/mapa_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/mapa_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>				
	<dict>
		<key>name</key>
		<string>menu-android.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/menu-android_a.png</string>
		<key>path</key>
		<string>/www/includes/images/menu-android_a.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>menu.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/menu_a.png</string>
		<key>path</key>
		<string>/www/includes/images/menu_a.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>apoio.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/apoio.jpg</string>
		<key>path</key>
		<string>/www/includes/images/apoio.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo_ibbca_b.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo_ibbca_b.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo_ibbca_b.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>realizacao_patrocinio.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/realizacao_patrocinio.jpg</string>
		<key>path</key>
		<string>/www/includes/images/realizacao_patrocinio.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-sistema-ocb_a.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-sistema-ocb_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-sistema-ocb_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-sistema-ocb.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-sistema-ocb.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-sistema-ocb.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-sescoop_a.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-sescoop_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-sescoop_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-sescoop.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-sescoop.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-sescoop.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unimed-santacatarina_a.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-santacatarina_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-santacatarina_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unimed-santacatarina.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-santacatarina.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-santacatarina.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unimed-floripa_a.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-floripa_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-floripa_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>logo-unimed-floripa.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/logo-unimed-floripa.jpg</string>
		<key>path</key>
		<string>/www/includes/images/logo-unimed-floripa.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>selo_a.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/selo_a.jpg</string>
		<key>path</key>
		<string>/www/includes/images/selo_a.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>selo.jpg</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/selo.jpg</string>
		<key>path</key>
		<string>/www/includes/images/selo.jpg</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>selo_a.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/selo_a.png</string>
		<key>path</key>
		<string>/www/includes/images/selo_a.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>selo.png</string>
		<key>url</key>
		<string>http://dl.dropbox.com/u/42583976/www/includes/images/selo.png</string>
		<key>path</key>
		<string>/www/includes/images/selo.png</string>
		<key>version</key>
		<string>2.7</string>
	</dict>
</array>
</plist>