<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>servletUploadCompras</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletComprasUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletSaveCompras</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletComprasSave</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletDeleteArchive</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletArchiveDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletGetArchive</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletArchiveGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletUploadArchive</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletArchiveUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletImportReport</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletReportImport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletUploadReport</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletReportUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletSaveCheckList</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletCheckListSave</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletAddObsOS</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletOSAddObs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletEditOS</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletOSEdit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletSaveOS</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletOSSave</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletCloseOS</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletOSClose</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletAddUser</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletUserAdd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletEditUser</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletUserEdit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletEditPassUser</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletUserEditPass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletDeleteUser</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletUserDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletOSAddServ</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletOSAddServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletOSAddMatUtil</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletOSAddMatUtil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>testeBerinja</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.testeBerinja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletUploadCompras</servlet-name>
    <url-pattern>/uploadCompras</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletSaveCompras</servlet-name>
    <url-pattern>/saveCompras</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletDeleteArchive</servlet-name>
    <url-pattern>/deleteArchive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletGetArchive</servlet-name>
    <url-pattern>/getArchive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletUploadArchive</servlet-name>
    <url-pattern>/uploadArchive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletImportReport</servlet-name>
    <url-pattern>/importReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletUploadReport</servlet-name>
    <url-pattern>/uploadReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletAddUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletEditUser</servlet-name>
    <url-pattern>/editUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletEditPassUser</servlet-name>
    <url-pattern>/editPassUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletDeleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletSaveCheckList</servlet-name>
    <url-pattern>/saveCheckList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletAddObsOS</servlet-name>
    <url-pattern>/addObsOS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletEditOS</servlet-name>
    <url-pattern>/editOS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletSaveOS</servlet-name>
    <url-pattern>/saveOS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletCloseOS</servlet-name>
    <url-pattern>/closeOS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletOSAddServ</servlet-name>
    <url-pattern>/addServOS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletOSAddMatUtil</servlet-name>
    <url-pattern>/addMatUtilOS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testeBerinja</servlet-name>
    <url-pattern>/testeBerinjas</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletEquipamentosSave</display-name>
    <servlet-name>ServletEquipamentosSave</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletEquipamentosSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEquipamentosSave</servlet-name>
    <url-pattern>/equipamentosSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEquipamentoEdit</display-name>
    <servlet-name>ServletEquipamentoEdit</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servlets.ServletEquipamentoEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEquipamentoEdit</servlet-name>
    <url-pattern>/equipamentoEdit</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>br.com.consorciosdf.intranet.controle.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletControlaLogin</display-name>
    <servlet-name>ServletControlaLogin</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servletsmobile.ServletControlaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlaLogin</servlet-name>
    <url-pattern>/contraLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletControlaListaOS</display-name>
    <servlet-name>ServletControlaListaOS</servlet-name>
    <servlet-class>br.com.consorciosdf.intranet.servletsmobile.ServletControlaListaOS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlaListaOS</servlet-name>
    <url-pattern>/controlaListaOS</url-pattern>
  </servlet-mapping>
</web-app>