
/*Sanfona Ajuda*/
/*
#accordion {
	margin: 0 auto;
}

#accordion .content {
    border: 1px solid #bbb;
    padding: 10px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
	color: #666;
    margin-bottom: -1px;
    transition: height ease-in-out 300ms;
    -o-transition: height ease-in-out 300ms;
    -moz-transition: height ease-in-out 300ms;
    -webkit-transition: height ease-in-out 300ms;
    background-image: -moz-linear-gradient(#f0f0f0, #ddd);
    background-image: -webkit-linear-gradient(#f0f0f0, #ddd);
    box-shadow: inset 1px 1px 0 #fff;
    -moz-box-shadow: inset 1px 1px 0 #fff;
    -webkit-box-shadow: inset 1px 1px 0 #fff;

}
#accordion #apresentacao:hover {
	height: 160px;
}

#accordion #lista_clientes:hover {
	height: 300px;
	overflow: auto;
}

#accordion #prazo_pagamento:hover {
	height: 160px;
}

#accordion #pedido:hover {
	height: 160px;
}

#accordion #titulos_aberto:hover {
	height: 160px;
}

#accordion #leitura_gondola:hover {
	height: 160px;
}

#accordion #adicionar_itens_pedido:hover {
	height: 160px;
}
#accordion #promocoes:hover {
	height: 160px;
}

#accordion .content h4 {padding-bottom: 15px;}
#accordion .content h4 a,
#accordion .content li,
#accordion .content span {
    font-size: 13px;
    font-weight:bold;
}

#accordion .content li{
	line-height:20px;
	margin-left:20px;
}
*/
/*Sanfona com clique*/

a {
	display:block;
	text-decoration:none
}
dl {
	margin:0 auto;
}
dt {
	border: 1px solid #bbb;
    padding: 10px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
	color: #666;
    margin-bottom: -1px;
    transition: height ease-in-out 300ms;
    -o-transition: height ease-in-out 300ms;
    -moz-transition: height ease-in-out 300ms;
    -webkit-transition: height ease-in-out 300ms;
    background-image: -moz-linear-gradient(#f0f0f0, #ddd);
    background: -webkit-gradient(linear, 0 0%, 0 100%, from(#F0F0F0), to(#DDD));
    box-shadow: inset 1px 1px 0 #fff;
    -moz-box-shadow: inset 1px 1px 0 #fff;
    -webkit-box-shadow: inset 1px 1px 0 #fff;
}
dt a {
	color:#000;
	font-size:14px;
	font-weight:bold;
}

dd{
	height:200px;
	overflow: auto;
}

dd p{
	margin-left:10px;
	font-size:14px;
}

ul li {
	list-style:none;
	line-height:20px;
	margin-left:20px;
	font-size: 13px;
    font-weight:bold;
}
ul li a {
	padding:5px;
}
        
        
        
